fastapi
uvicorn[standard]
sqlalchemy==1.4.49
psycopg2  # psycopg2-binary locally
databases[aiosqlite]
databases[asyncpg]
httpx
python-dotenv
pydantic-settings
rich
asgi-correlation-id
python-json-logger
logtail-python
python-jose
python-multipart
passlib[bcrypt]
aiofiles
b2sdk
sentry-sdk[fastapi]
